<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" type="text/css" href="/stylesheets/core/normalize.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/core/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/specific/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/specific/demo.css" />

    <link rel="stylesheet" type="text/css" href="/stylesheets/core/pe-icon-7-stroke.css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display|Raleway:700,100,400|Roboto:400,700|Playfair+Display+SC:400,700'
          rel='stylesheet' type='text/css' />
</head>