<!DOCTYPE html>
<html>

<%- include partials/layoutHead.ejs %>

<body>
    <%- include partials/navbars/navbarLayout.ejs %>
    <%- body %>
</body>

<!-- Core JS -->
<script type="text/javascript" src="/javascripts/core/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="/javascripts/core/bootstrap.min.js"></script>

<!-- Specific JS -->
<script type="text/javascript" src="/javascripts/specific/login-register.js"></script>
<script type="text/javascript" src="/javascripts/core/jquery-validate.min.js"></script>

<%- defineContent('tooltipScript') %>

</html>