<div class="row">
    <div class="col-sm-12" style="margin-top: 20px">
        <h4 class="info-text"> And finally, <%= user.data.firstName %> <%= user.data.lastName %>, choose a name for your configuration.</h4>
    </div>
    <div class="col-sm-6 col-sm-offset-4" style="padding-bottom: 120px">
        <div class="form-group">
            <input name="configName" id="configName" class="form-control" placeholder="Type here..." style="width: 50%">
        </div>
    </div>
</div>